<!--adding this manually until i find another way-->

<div class="row">
  <div class="col-md-12">
    <br>
      <article>
        <section class="text-center">
          <a ui-sref="home">Back to previous bills</a>
          <p><a target="_blank" href="{{$ctrl.bill.bill.state_link}}">{{$ctrl.bill.bill.title}}</a></p>
          <p>{{$ctrl.bill.bill.session.session_name}}
          <p>{{$ctrl.bill.bill.session_title}}
          <p>{{$ctrl.bill.bill.description}}
          <p>{{$ctrl.bill.bill.state}}

          <p><a target="_blank" href="{{$ctrl.bill.bill.texts[0].state_link}}">Link to Full Text</a></p>

          <h3>Sponsors</h3>

          <div ng-repeat="sponsor in $ctrl.bill.bill.sponsors">
            <p>{{sponsor.name}}</p>
            <p>{{sponsor.party ==="R" ? "Republican" :"Democrat"}}
            <p>{{sponsor.ftm_eid}}
          </div>

          <h3> Upcoming events</h3>
          <div class="calendar"ng-repeat="dates in $ctrl.bill.bill.calendar">
            <h3>Events</h3>
            <p>{{dates.date}}
            <p>{{dates.description}}
            <p>{{dates.location}}
            <p>{{dates.time}}
            <p>{{dates.type}}
          </div>

        </section>
      </article>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
  </div>
</div>
