<!--adding this manually until i find another way-->
<div class="row">
  <div class="col-md-12 specific-rep" id="specific-rep">
    <br>
      <section class="specific-rep-details">

        <div id="specific-rep-img" class="specific-rep-img">
          <img src="{{$ctrl.rep.photoUrl || 'assets/no_picture.png'}}" />
        </div>

        <div class="rep-details">
          <h3 class="rep-name">{{$ctrl.rep.name}}</h3>
          <h5 class="rep-office-name">{{$ctrl.office.name}}</h5>
          <h5 class="rep-party-name">{{$ctrl.rep.party}}</h5>
          <!---getting the word after the last colon-->
          <p>Represents: {{$ctrl.office.divisionId.slice($ctrl.office.divisionId.lastIndexOf(':') + 1, $ctrl.office.divisionId.length).toUpperCase()}}</p>

          <table>
            <tbody>

              <tr class="phone">
                <td><a href="tel:{{$ctrl.rep.phones[0]}}"><img src="assets/phone-receiver.png" height="32px" width="32px"/></a></td>
              </tr>

              <tr class="social-rep" ng-repeat="social in $ctrl.rep.channels" >
                <td><a target="_blank" href="http://www.{{social.type}}.com/{{social.id}}" ng-if="social.type.includes('book')"><img src="assets/facebook-letter-logo.png" height="32px" width="32px"/></a></td>
                <td><a target="_blank" href="http://plus.google.com/{{social.id}}" ng-if="social.type.includes('oogle')"><img src="assets/social.png" height="32px" width="32px"/></a></td>
                <td><a target="_blank" href="http://www.{{social.type}}.com/{{social.id}}" ng-if="social.type.includes('witter')"><img src="assets/twitter-logo-silhouette.png" height="32px" width="32px"/></a></td>
                <td><a target="_blank" href="http://www.{{social.type}}.com/{{social.id}}" ng-if="social.type.includes('ube')"><img src="assets/video.png" height="32px" width="32px"/></a></td>
              </tr>
              <tr class="social-rep" ng-repeat="web in $ctrl.rep.urls" >
                <td><a target="_blank" href="{{web}}"><img src="assets/web-www-world-grid.png" height="32px" width="32px"/></a></td>
              </tr>
              <tr class="social-rep" ng-repeat="email in $ctrl.rep.emails" >
                <td><a target="_blank" href="mailto:{{email}}"><img src="assets/close-envelope.png" height="32px" width="32px"/></a></td>
              </tr>
            </tbody>
          </table>

        </div>
    </section>
  </div>
  <!-- <div class="col-md-4" id="rep-finances">
    {{$ctrl.rep}}
  </div> -->
</div>
<br>
