<<!--adding this manually until i find another way-->

<div class="row">
  <div class="col-md-12">
    <br>
      <article>
        <section class="text-center">
          <a ui-sref="home">Back to previous reps</a>
          <p><a target="_blank" href="{{$ctrl.rep}}">{{$ctrl.rep.name}}</a></p>
          <p>{{$ctrl.rep}}
          <p>{{$ctrl.office}}
          <p>{{$ctrl.office}}
          <p>{{$ctrl.rep.state}}

          <p><a target="_blank" href="{{$ctrl.rep}}">Link to Full Text</a></p>

          <h3>Sponsors</h3>

      <!--    < ng-repeat="sponsor in $ctrl.rep.rep.sponsors">
            <p>{{sponsor.name}}</p>
            <p>{{sponsor.party ==="R" ? "Republican" :"Democrat"}}
            <p>{{sponsor.ftm_eid}}
          </rep>-->

          <h3> Upcoming events</h3>
      <!--    <div class="calendar"ng-repeat="dates in $ctrl.rep.rep.calendar">
            <h3>Events</h3>
            <p>{{dates.date}}
            <p>{{dates.description}}
            <p>{{dates.location}}
            <p>{{dates.time}}
            <p>{{dates.type}}
          </div>-->

        </section>
      </article>
  </div>
</div>
<br>
