
 <div class="row">
  <div class="col-md-6">
    <h2>Hello {{ctrl.user.username ? ctrl.user.username : 'there'}}, What neighborhood are you interested in?</h2>
    <article>
      <header>
      <!---cool ternary expression i was playing with


        <h3 ng-init="ctrl.user.username ? ctrl.user.username : what">Hello, {{what || ctrl.user.username}}


          </h3>
          ----->
      </header>
      <section>
        <form class="form-inline">
          <div class="form-group">

            <!---<label for="name">Name</label>--->

            <input class="form-control"
              type="text"
              pattern="[0-9]{5}"
              name="zipCode"
              placeholder="Enter a ZIP Code"
              autofocus
              ng-model="zipCode">
          </div>
        </form>
      </section>
    </article>
    <br /><br />
    <a class="btn btn-success" ng-model="zipCode"> This is test for bootstrap </a>
  </div>
</div>
