/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-sass
 */
 body {
   padding-top: 70px;
 }
 /*table {
     border-collapse: separate;
     border-spacing: 1em;
 }*/



 /*for reps componetn
 #repscom{
   transition: all linear 0.5s;
   height:400px;
 }
 .ng-hide{
   height:0px;
 }
*/
.bills-table{
  height: 400px;
  overflow:scroll;
  display:block;
}
.default {
  height:0px;
  overflow: hidden;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;

}
.rollup{
  height:600px;
  overflow: hidden;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
 table {
     width: 100%;
 }
 td{
   background-color:white;
 }
 tbody {
     display: inline;
     height:155px
 }

 tr.rep-info {
     width: 30%;
     margin: 0px;
     padding: 0;
     float: left;
     background-color: white;
     border-radius: 25px;
     border: 5px solid black;
 }
 td#img,
 td.img {
     float: left;
     padding:0;
     border-radius: 25px 0 0 25px;
 }
 img {
   border-radius: 20px 0 0 20px;
 }
 td#info,
 td.info {
     color: black;
     background-color: white;
     margin-left: 10em;
     display:block;
     border-radius: 0 25px 25px;
 }
