#specific-rep-img img{
  float:left;
  max-height:460px;
  border-right: 2px solid black;
}

div#bill-deets {
  border-radius: 25px;
  border: 5px solid black;
  height: 100%;
  padding: 10px;
  float:left;
  width:100%;
  background-color: #f8fafa;

}

div#bill-deets div.sponsor-details {
  height: 100%;
  float:left;
}

div#bill-deets div.calendar {
  height: 100%;
  float:left;
}
div.specific-bill-events {
    float: left;
}

div.specific-bill-sponsors {
    float: left;
    margin-right: 10px;
}

div.sponsor-details{
    float:left;
    margin: 10px;
}
div.calender{
    margin: 10px;
}

div.bill-details h3 {
    border-bottom: 2px solid #eee;
}
