<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <p><a href="#">{{ctrl.user.username}}</a></p>
        <img src="" class="img-circle" height="65" width="65" alt="Avatar">
      </div>
      <div class="well">
        <p><a href="#">Keywords</a></p>
        <p>
          <span class="label label-default">Abortion</span>
          <span class="label label-primary">Women's Rights</span>
          <span class="label label-success">OtherStuff</span>
          <span class="label label-info">Corporate</span>
          <span class="label label-warning">Election</span>
          <span class="label label-danger">Fracking</span>
        </p>
      </div>

      <p><a href="#">Facebook</a></p>
      <p><a href="#">Twitter</a></p>
      <p><a href="#">Blog</a></p>
    </div>
    <div class="col-sm-7">

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="true">This will be the section where your local officials will be listed :</p>
              <br/>

              <br/>

              <br/>

              <br/>

            </div>
          </div>
        </div>
      </div>
      <!--make this into a component so that i can just plug it in -->
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>rep name</p>
           <img src="" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>JBill info</p>
          </div>
        </div>
      </div>
      <!--end of component template--->

      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>rep name</p>
           <img src="" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>JBill info</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>rep name</p>
           <img src="" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>JBill info</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 well">
      <p>Upcoming Events:</p>
      <div class="thumbnail">
        <img src="" alt="" width="400" height="300">
        <p><strong>Gay Rights Rally</strong></p>
        <p>Tuesday. 7 November 2016</p>
        <button class="btn btn-primary">Info</button>
      </div>
      <div class="thumbnail">
        <img src="" alt="" width="400" height="300">
        <p><strong>Election</strong></p>
        <p>Fri. 10 December 2016</p>
        <button class="btn btn-primary">Info</button>
      </div>
      <div class="thumbnail">
        <img src="" alt="" width="400" height="300">
        <p><strong>local protest</strong></p>
        <p>Fri. 27 November 2016</p>
        <button class="btn btn-primary">Info</button>
      </div>
    </div>
  </div>
</div>
